<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div>
        <h1>Creación de películas</h1>
    </div>
    <form action="/createP/" method="POST">
        <div>
            <input id="title" name="title" type="text" placeholder="Título">
        </div>
        <div>
            <input id="rating" name="rating" type="number" placeholder="Puntaje">
        </div>
        <div>
            <input id="length" name="length" type="number" placeholder="Duración">
        </div>
        <div>
            <input id="awards" name="awards" type="number" placeholder="Premios">
        </div>
        <div>
            <input id="release_date" name="release_date" type="date" placeholder="Fecha de Estreno">
        </div>
        <label for="Genre"></label>
        <select name="genre_id">
            <% for (let i=0; i < genres.length; i++) { %>
                <option value="<%= genres[i].id %>">
                    <%= genres[i].name %>
                </option>
                <% } %>
        </select>
        <div>
            <input type="submit" value="Agregar">
        </div>
        <div>
            <button><a href="/">Volver</a></button>
        </div>
    </form>
</body>

</html>