<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
        <h1>Editar peliculas</h1>
    </div>
    <form action="/" method="POST">
        <div>
            <input id="titulo" type="text" placeholder="Titulo">
        </div>
        <div>
            <div>
                <input id="genero" type="text" placeholder="Genero">
            </div>
        </div>
        <div>
            <input id="raiting" type="number" placeholder="Raiting" min="1" max="10">
        </div>
        <div>
            <input id="actores" type="text" placeholder="Actores">
        </div>
        <div>
            <input id="estudio" type="text" placeholder="Estudio">
        </div>
    </form>
</body>
</html>