<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
</head>

<body>
    <header></header>
    <main>
        <form action="/login" method="POST">
            <div>
                <input id="name" name="name" type="text" placeholder="Ingrese nombre de usuario">
            </div>
            <div>
                <input id="email" name="email" type="email" placeholder="Ingrese E-mail">
            </div>
            <div>
                <input id="password" name="password" type="password" placeholder="Ingrese contraseña">
            </div>
            <div>
                <input type="submit" value="Continuar">
            </div>
            <div>
                <label> No tenes cuenta? </label>
                <a href="/login/register">Crear cuenta</a>
            </div>

        </form>
        <div>
            <button><a href="/">Inicio</a></button>
        </div>
    </main>
</body>

</html>