<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <header></header>
    <main>
        <div>
            <h1>Registrate</h1>
        </div>
        <div>
            <form action="/login/register" method="POST" enctype="multipart/form-data">
                <div>
                    <input type="text" name="name" id="name" placeholder="Nombre" size="15">
                </div>
                <div>
                    <input type="password" name="password" id="password" placeholder="Contraseña" size="15">
                </div>
                <div>
                    <input type="email" name="email" id="email" placeholder="E-mail" size="15">
                </div>

                <div><input type="submit" value="Continuar"></input> </div>
                <div>
                    <label> Ya tenes cuenta </label>
                    <a href="/login">Iniciar Sesion</a>
                </div>
            </form>
            <div>
                <button><a href="/">Inicio</a></button>
            </div>

        </div>
    </main>
    <footer></footer>
</body>

</html>